.big-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.md-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}


.container {
    justify-content: center;
}


.caracter .row {
    margin: 1% 1% 1% 0;
}

.caracter .row a {
    margin: 1% 2% 0 0;
    font-weight: bold;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.products .img {
    width: 15%;
    overflow: hidden;
    margin-right: 5%;
}

.products .img img {
    object-fit: cover;
    width: 100%;
}

.products .info {
    width: 80%;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .container .pay .price {
        font-weight: bold;
        font-size: 12pt;
        margin: 10% 0 10% 0;
    }

    .container .img {
        width: 100%;
    }

    .container .info {
        width: 75%;
    }

    .container .pay {
        width: 75%;
    }


}
